page-list-master {
  .profile-image {
    width: 196px;
    height: 196px;
    border-radius: 50%;

    display: inline-block;
    background-color: #2ec95c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
